:root{
    --text-color:#FFCA75;
    --background-color:#202724;
}
body{
    color: var(--text-color);
    background-color: var(--background-color);
}
#header{
    text-align: center;
    font-size: 1.7rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-date{
    margin: 1rem 1rem 2rem;
    height: 25px;
}

#check{
    width: 100px;
    height: 30px;
    border-radius: 1rem;
}

#output{
    font-size: 1.2rem;
}

.label-class{
    font-size: 1.2rem;
}

.working {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.list-inline{
    display: inline;
    padding:0rem 0.5rem;
}

footer{
    background-color: var(--text-color);
    color: var(--background-color);
    padding: auto;
    text-align: center;
    border-top-right-radius: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .link{
    color: var(--background-color);
    font-size: 1.7rem;
}

footer ul{
    padding-inline-start: 0px;
}
